@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Karma');

body {
    box-sizing: border-box;
    margin: 0;
}




/*========HEADER ALL PAGES========*/

header {
    background-color: #52bbc7;
    margin-top: 10px;
}


#title {
    width: 100%;
    margin: auto;
    text-align: center;
}

header h1 {
    font-size: 25px;
}

header h3 {
    color: #000;
    font-family: 'Cookie', cursive;
    text-indent: -28px;
    margin: -6px 0px -15px 30px;
    font-size: 60px;
    font-weight: 500;
}





/*==========BODY  ALL PAGES========*/

body {
    margin: 0 auto;
    font-family: 'Karma', serif;
    font-size: 1em;
    background-color: #f3ddb9;
    margin-top: 10px;
}



/*==========NAV-MAIN  ALL PAGES========*/

nav {
    width: 100%;
}

nav ul {
    padding: 5px;
    background-color: #977360;
}

nav li {
    display: inline-block;
    margin: auto;
    width: 19%;
    text-align: center;
    font-family: 'Karma', serif;
}

#menu {
    display: none;
}

#toggle:checked ~ #menu {
    display: block;
}



/*==========NAV-LINK ALL PAGES========*/

nav ul {
    margin: 0px;
}

nav li a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

nav li a:link {
    color: #fff;
}

nav li a:visited {
    color: #fbf4e9;
    text-decoration: underline;
    font-style: italic;
}

nav li a:hover {
    color: #52bbc7;
    text-decoration: underline;
    font-style: italic;
}

nav li a:active {
    color: #f1840d;
    text-decoration: underline;
    font-style: italic;
}



/*================MAIN================*/

#container {
    /*display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /*justify-content: space-between;*/
    width: 100%;*/
    

    display: grid; 
    grid-template-columns: auto auto;  
    grid-column-gap: 5%;
    align-items: center; 
	}
	
	.container-img {
		grid-column-start: 1; 
		grid-column-end: 2;
	}

	.container-text {
		padding-right: 10%; 	
	}
}

/*.container-img {
    width: 50%;
    height: 60px;
    flex-grow: 0;
    flex-shrink: 0;
    width: auto;
}*/

/*.container-text {
    display: flex;
    width: 100%;
    align-items: center;
}*/

/*main {
    /*max-width: 100%;
    padding: 15px;
    max-height: 100%;*/

    /*background-color: #f3ddb9;
    font-family: 'Karma', serif;
 }*/

h3 {
    color: #000;
    font-family: 'Cookie', cursive;
}


h1,
h2 {
    color: #000;
    font-family: 'Karma', serif;
}


/*#landing,
#landing-main {
    display: inline-block;
}*/


/*#landing-main {
    width: 31%;
    vertical-align: top;
    margin-left: 1%;
}*/

/*#landing {
    width: 60%;
    margin-left: 5%;
    margin-right: 2%;
}*/

/*#landing h1 {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 2%;
    width: 100%;
    margin: 10px 0px -10px 0px;
}*/

/*#landing-main img {
    width: 100%;
    margin: 20px 20px 40px 20px;
    border: 20px;
    border: 2px solid;
    border-color: #977360;
}*/

/*#landing ul li {
    list-style-type: none;
    font-size: 1.2em;
    margin: 0px 0px 2px -40px;
}*/

/*#landing p {
    font-family: 'Karma', serif;
    display: inline-block;
    font-size: .95em;
    margin: 15px 5px 40px 0px;
    width: 100%;
}*/

h3::first-letter {
    font-size: 120%;
}

h2::first-letter {
    font-size: 120%;
}



/*==========FOOTER STYLE- ALL PAGES========*/

footer {
    padding-bottom: 40px;
    background-color: #52bbc7;
    text-align: center;
    font-weight: 700;
    text-align: center;
}

#footer ul {
    background-color: #977360;
    font-size: 24px;
    font-weight: 500;
    color: #F0F8FF;
}

footer ul p {
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: auto;
    font-family: 'Karma', serif;
    font-size: 1em;
    font-weight: bold;
}

footer li a {
    text-decoration: none;
    padding: 20px;
    color: #f1840d;
}

footer li a:visited {
    color: #F0F8FF;
    text-decoration: underline;
    font-style: italic;
}

footer li a:hover {
    color: #283e1a;
    text-decoration: underline;
    font-style: italic;
}

footer li a:active {
    color: #e221b0;
    text-decoration: underline;
    font-style: italic;
}

footer p {
    display: inline-block;
    font-family: 'Karma', serif;
    margin: 10px;
}




/*Media Query - regular/desktop view applied when the screen is large*/

@media (min-width: 530px) {
    nav label,
    #toggle {
        display: none;
    }
    #toggle:not(:checked) ~ #menu {
        display: block;
    }
    #menu li {
        display: inline-block;
    }
    
    
    #container {
        /*display: flex;
        width: 100%;
        padding: 3%;*/
    
        display: grid; 
        grid-template-columns: auto auto auto;  
        grid-column-gap: 5%;
        align-items: center; 
	}
	
	.container-img {
		grid-column-start: 1; 
		grid-column-end: 2;
        max-width: 100%;
	}

	.container-text {
		padding-right: 10%; 	
	}
    /*#landing-main,
    landing {
        display: flex;
        width: 100%;
    }*/
    nav li:nth-child(3) {
        margin-left: 15px;
    }
    footer {
        height: 90px;
    }
    footer ul {
        margin-top: -80px;
        /*height: 55px;*/
    }
    footer li a {
        font-size: .9em;
    }
    footer p {
        font-size: .7em;
        padding: 0px;
        margin-bottom: 5px;
    }
    #copy,
    #kim,
    byui {
        color: red;
        font-size: .8em;
        padding: 5px;
    }
    #copy {
        color:forestgreen;
        /*margin: 25px 25px -80px 20px;
         margin: 30px 30px -80px -5px;
        */
        margin: 20px 30px -80px 40px; 
    }
    #kim {
        color: blue;
        margin: 25px 25px -80px -25px;
    }
    #byui {
        color: deeppink;
        font-size: .8em;
        margin: 25px 25px -80px -10px;
    }
}




/* Media Query - mobile view styling*/
/***snap menu background-color = dark green***/

@media screen and (max-width: 530px) {
    nav label {
        background-color: #86af49;
        color: #fff;
        padding: 10px;
        text-align: center;
        display: block;
        margin: 20px 0 0 0;
    }
    nav li {
        display: block;
        text-align: center;
        width: 100%;
    }
    nav li a {
        padding: 10px 0px;
        margin: 0px;
        width: 100%;
        font-size: 15px;
    }

    #container {
    display: flex;
    flex-flow: row wrap;
    }
    
    /*#landing h1 {
        font-size: 1em;
        margin: 0;
    }*/

    /*#landing-main img {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }*/

    /*#landing p {
        font-size: .7em;
        margin: 5px 5px 40px 0px;
    }
*/
    /*#landing ul {
        margin: 0px 0px 40px -40px;
    }*/

    /*#landing ul li {
        list-style-type: none;
        font-size: .8em;
        margin: 0px 0px 2px 0px;
    }*/

    footer {
        height: 90px;
    }

    footer ul {
        margin-top: -80px;
        height: 45px;
    }

    footer li a {
        font-size: .6em;
    }


    footer p {
        font-size: .5em;
        padding: 5px;
    }

    nav input {
        display: none;
    }

   /* #landing-main,
    #landing,
    {
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }*/
}
